header{
    height: 60px;
    width: 960px;
    display: flex;
    margin: 0 auto;
    .logo-image{
        width: 120px;
        height: 40px;
        margin-left: 76px;
        margin-top: 10px;
    }
    .link{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 538px;
        display: flex;
        a{
            margin-top: 10px;     
            margin-bottom: 10px;  
            margin-left: 30px;
            font-size: 14.4px;
            font-family:'メイリオ', 'Meiryo', sans-serif;
        }
    }
}

main{
    .mainvisual-image{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    section{
        width: 960px;
        margin: 0 auto;
    }
}
