header{
    height: 60px;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .logo-image{
        width: 120px;
        height: 40px;
        margin-top: 10px;
        margin-left: min(30px);
    }
    .link{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        margin-right: min(30px);
        a{
            margin-top: 10px;     
            margin-bottom: 10px;  
            margin-left: 30px;
            color: #24292e;
            font-size: 14.4px;
            font-family:'メイリオ', 'Meiryo', sans-serif;
        }
        a:hover{
            opacity: 0.5;
        }
    }
}

main{
    .mainvisual-image{
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    section{
        max-width: 960px;
        margin: 0 auto;
        h2{
            color: #383e45;
            font-size: 32px;
            font-weight:bold;
            margin: 0 auto;
            margin-bottom: 60px;
            font-family:'メイリオ', 'Meiryo', sans-serif;
            border-bottom: 1px solid #383e45;
        }
    }
    .about-section{
        h2{
            width: 101px;
        }
        margin-top: 86px;
        .about-contents{
            display: flex;
            justify-content: center;
            .about-image{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 4px 30px 4px 0px;
            }
        }
        h3{
            margin: 10px 0px 10px 0px;
            font-size: 21px;
            font-weight:bold;
            color: #383e45;
        }
        p{
            font-size: 18px;
            color: #383e45;
        }
    }
    .bicycle-section{
        margin-top: 100px;
        h2{
            width: 117px;
        }
        ul{
            display: flex;
            justify-content: center;
        }
        li{
            margin: 0px 9px 0px 9px;
            img{
                width: 282px;
                height: 187px;
                object-fit: cover;
            }
            h3{
                text-align: center;
                margin-top: 16px;
                margin-bottom: 10px;
                font-size: 21px;
                font-weight:bold;
                color: #383e45;
            }
            p{
                text-align: center;
                font-size: 18px;
                color: #383e45;
            }
        }
    }
}

footer{
    margin-top: 100px;
    p{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        color: #383e45;
        font-size: 12px;
    }
}


